In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
df= pd.read_csv('../data/country_codes.csv')

In [3]:
df.columns

Index(['name', 'alpha2', 'alpha3', 'code', 'lat', 'lon'], dtype='object')

In [4]:
df['alpha2'].value_counts().unique()

array([1])

In [5]:
df

                  name alpha2 alpha3  code      lat    lon
0          Afghanistan     AF    AFG     4  33.0000   65.0
1              Albania     AL    ALB     8  41.0000   20.0
2              Algeria     DZ    DZA    12  28.0000    3.0
3       American Samoa     AS    ASM    16 -14.3333 -170.0
4              Andorra     AD    AND    20  42.5000    1.6
..                 ...    ...    ...   ...      ...    ...
238  Wallis and Futuna     WF    WLF   876 -13.3000 -176.2
239     Western Sahara     EH    ESH   732  24.5000  -13.0
240              Yemen     YE    YEM   887  15.0000   48.0
241             Zambia     ZM    ZMB   894 -15.0000   30.0
242           Zimbabwe     ZW    ZWE   716 -20.0000   30.0

[243 rows x 6 columns]

In [6]:
from dotenv import dotenv_values

config = dotenv_values()

In [7]:
username = config['USER']
password = config['PASS']
host = config['HOST']
port = config['PORT']

In [8]:
url = f'postgresql://{username}:{password}@{host}:{port}/climate'

In [9]:
engine = create_engine(url, echo=False)

In [10]:
    
with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS countries;
        CREATE TABLE countries(
             name VARCHAR,
             alpha2 VARCHAR PRIMARY KEY,
            alpha3 VARCHAR(3),
            code INT,
            lat  NUMERIC,
            lon NUMERIC
        )    
    """))

In [11]:
df.to_sql('countries', engine, if_exists='replace', index=False)

243